RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?$1 [L,QSA] #флаг QSA добавляет параметры  строке запроса к уже имеющимся Query string Append (добавление гет параметров в строке запроса)